@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

.travel-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.travel-app .logo h1 {
  text-align: center;
  font-family: "Monoton";
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 20px;
  letter-spacing: 2px;
  padding: 2.4rem 0;
}

.travel-app .card {
  background-color: white;
  margin: 2rem 1rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 0.2rem #1a3e7591;
  width: 100%;
  max-width: 700px;
}

.travel-app .card h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.travel-app .card form {
  font-size: 1.7rem;
}

.travel-app .card form input,
.travel-app .card .form-group select {
  padding: 1rem 1.5rem;
  border: 1px solid darkgrey;
  outline: none;
  border-radius: 0.5rem;
}

.travel-app .card form button {
  margin-top: 2rem;
  background-color: #132f72;
  color: white;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  padding: 1rem 1.5rem;
}

.travel-app .card .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 0.5rem;
}

.travel-app .card .form-group label {
  font-weight: 700;
  color: rgb(107, 107, 107);
}

/* PACKING LIST */
.travel-app .card .item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-top: 1.5rem;
}

.travel-app .card .item-list {
  padding: 0rem 1rem;
  border-radius: 0.5rem;
}

.travel-app .card .item-list.strike {
  background-color: rgba(0, 128, 0, 0.113);
  text-decoration: line-through;
}

.travel-app .card .item-list .item-quantity {
  margin-right: 0.5rem;
}

.travel-app .card .item-list .item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
}

.travel-app .card .item-list .checkbox {
  border: 1px solid red;
  cursor: pointer;
}

.travel-app .card .item-delete {
  background-color: transparent;
  font-weight: 500;
  font-size: 2.3rem;
  border: none;
  cursor: pointer;
  color: red;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.travel-app .card .item-delete:hover {
  background-color: rgba(255, 0, 0, 0.216);
}

.travel-app .card .btn-clear-list {
  padding: 0.7rem 1.8rem;
  color: red;
  border: 1px solid red;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: 700;
}

.travel-app .card .btn-clear-list:hover {
  background-color: rgb(234, 16, 16);
  color: rgb(234, 234, 234);
}

/* FOOTER */

.travel-app footer {
  border: none;
  margin-top: 2rem;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.travel-app .stats {
  background-color: #132f72;
  font-size: 1.7rem;
  color: white;
}
