.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  width: 400px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 2rem 3rem #0e111a;
}

.avatar {
  width: 100%;
}

.description {
  padding: 2rem 3rem 5rem 3rem;
}

.description h1 {
  font-size: 3rem;
  color: black;
}

.description p {
  color: black;
  padding-top: 1rem;
}

.description p,
.description li {
  font-size: 1.4rem;
}

.description ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 2rem;
}

.skill-level {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
}
